hr {
  height: 6px;
  border: none;
}
.page {
  padding: 2em;
  background: #cecece;
  max-width: 100%;
}
.article{
  text-align: center;
  padding: 1em;
  background-color: rgba(200, 200, 255, 0.3);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.05);
}
.archive {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 1em;
  grid-auto-flow: dense;
}
.archive img{
  max-width: 100%
}
.five-day {
  text-align: center;
  padding: 1em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.05);
  background: rgba(200, 200, 255, 0.3);
}
.archive:nth-child(1) {
  grid-column: 1 / -1;
  background: rgba(200, 200, 255, 0.3);
}
.archive:nth-child(8) {
  grid-column: -3 / -1;
  background: rgba(255, 200, 255, 0.3);
}
.article:nth-child(8):after {
  content: "grid-column: -3 / -1";
}
@media (max-width: 680px) {
  .archive {
    display: flex;
    flex-direction: column;
  }
  .article {
    margin-bottom: 1em;
  }
}

.article img {
    width: 50%;
    height: auto;
}